/* Dark theme CSS */
body {
    padding-top: 60px;
    background-color: #121212;
    color: #f8f9fa;
}
.section {
    padding: 60px 0;
}
section:nth-of-type(even) {
    background-color: #1e1e1e;
}
.text-muted {
    color: #adb5bd !important;
}
html {
    scroll-behavior: smooth;
}
